/* IMPORT NEW FONT*/
@font-face {
  font-family: 'open-sans-light';
  src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'open-sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'open-sans-semi-bold';
  src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: 'open-sans-bold';
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'open-sans-extra-bold';
  src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf');
}