/* COLOR */
@white: #FFF;
@grey: #7A7A7A;
@light-grey: #f3f5f8;
@black-grey: #242830;


@text-grey: #777;
@orange: #c2734b;
@lila: #5f4394;
@footer: #292828;

/* FONT SIZE */
@font-size: 18px;

@media @tablets {
  @font-size: 12px;
}

@media @smartphones {
  @font-size: 8px;
}