<section class="contactus">
    <h2>{{ page.title }}</h2>
    <div class="wrapper">
        {% include "forms/form.html.twig" %}
    </div>
</section>
<footer>
    <p>&copy; Sonalp 2018 | Photos Eric Ruffino - Joël Clément</p>
</footer>