<!-- PAGE CONTENT -->
<section class="imgtext">
    {% if page.header.image_align == 'left' %}
        <div style="background-image: url('{{ page.header.image|first.path }}'); order: 1; "></div>
        <div class="{{ page.header.textclass }}" style="order: 2;">
            <div class="wrapper">
                {{ page.content }}
            </div>
        </div>
    {% else %}
        <div style="background-image: url('{{ page.header.image|first.path }}'); order: 2; "></div>
        <div class="{{ page.header.textclass }}" style="order: 1">
            <div class="wrapper">
                {{ page.content }}
            </div>
        </div>
    {% endif %}
</section>