<section class="icon">
    <div style="background-image: url('{{ page.header.image|first.path }}'); "></div>
    <div>
        <div class="wrapper">
            {{ page.content }}
            <ul>
                {% for icon in page.header.icons %}
                    <li><a href="{{ icon.link }}" target="_blank"><i class="fa {{ icon.icon }}"></i></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>