<section id="slider">
        <div class="text">
                <span>
                        {{ page.content }}
                </span>
        </div>
        {% for slide in page.header.slider %}
                <div class="slide" style="background-image: url('{{ page.media[slide.slide_pic].url }}'); background-position: {{ slide.slide_vertical_pos }} {{ slide.slide_horiz_pos }}"></div>
        {% endfor %}
</section>