{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block javascripts_footer %}
    {{ parent() }}
    {% if show_onpage_menu %}
        {% do assets.add('theme://js/header_effect.js') %}
        {% do assets.add('theme://js/showcase.js') %}
        {% do assets.add('theme://js/mobile-effect.js') %}
    {% endif %}
{% endblock %}


{% block bottom %}
    {{ parent() }}
    {% if show_onpage_menu %}
        <script>
            // singlePageNav initialization & configuration
            $('#navbar').singlePageNav({
                offset: $('#header').outerHeight(),
                filter: ':not(.external)',
                updateHash: true,
                currentClass: 'active'
            });
        </script>
    {% endif %}
{% endblock %}


{% block logo %}
    <a class="logo" href="#" title="">
        <img src="logo.svg" alt="Sonalp" />
    </a>
{% endblock %}

{% block navigation %}
    {% include 'partials/langswitcher.html.twig' %}
    {% if show_onpage_menu %}
        <div id="navbar">
            <span>
                <i class="fa fa-bars" onclick="openNavigation();"></i>
                <i class="fa fa-close" onclick="closeNavigation();"></i>
            </span>
        </div>
        <ul class="navigation">
            {% for module in page.collection.order('folder','asc') %}
                {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
                <li class="{{ current_module }}"><a class="scrollTo" href="#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a></li>
            {% endfor %}
            {% for mitem in site.menu %}
                <li>
                    <a {% if mitem.class %}class="{{ mitem.class }}"{% endif %} href="{{ mitem.url }}">
                        {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                        {{ mitem.text }}
                    </a>
                </li>
            {% endfor %}
            {% include 'partials/langswitcher-mobile.html.twig' %}
        </ul>
    {% else %}
        {{  parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ page.content }}
    {% for module in page.collection.order('folder','asc') %}
        <div id="{{ _self.pageLinkName(module.menu) }}"></div>
        {{ module.content }}
    {% endfor %}
{% endblock %}
