html, body {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: 'open-sans', sans-serif;

  @media @tablets {
    font-size: 12px;
  }

  @media @smartphones {
    font-size: 10px;
  }

  .wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }

  #content {
    width: 100%;
    height: 100%;
  }

  h2 {
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: center;
    &:after {
      content: '';
      display: block;
      height: 0.3rem;
      width: 4rem;
      margin: 2rem auto 0 auto;
      background-color: @white;
    }
  }

  p {
    margin-bottom: 10px;
  }

}

