header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  padding: 20px 0;
  z-index: 100;
  background-color: rgba(41,40,40,0.3);
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;

  @media @tablets {
    padding: 0;
    background-color: rgba(41,40,40,0.0);
  }

  @media @smartphones {
    padding: 0;
    background-color: rgba(41,40,40,0.0);
  }

  &.scrolled-header {
    background-color: rgba(41,40,40,0.9);
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

    .wrapper {
      a.logo, ul.langswitcher {
        display: none;
      }
    }

    @media @tablets {
      padding: 0;
      .wrapper {
        a.logo {
          display: block;
          width: 60%;
        }
      }
    }

    @media @smartphones {
      padding: 0;
      .wrapper {
        a.logo {
          display: block;
          width: 60%;
        }
      }
    }
  }

  .wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    @media @tablets {
      display: flex;
    }
    @media @smartphones {
      display: flex;
    }

    ul.langswitcher {
      top: 15%;
      right: 7%;
      position: absolute;

      li {
        a {
          font-size: 16px;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          font-family: 'open-sans-light', sans-serif;

        }
      }

      @media @tablets {
        display: none;
      }
      @media @smartphones {
        display: none;
      }
    }

    a.logo {
      width: 80%;
      display: block;
      margin: 10px auto;
      text-align: center;

      @media @tablets {
        flex: auto;
        text-align: left;
        margin: 15px auto 10px auto;
      }
      @media @smartphones {
        flex: auto;
        text-align: left;
        margin: 15px auto 10px auto;
      }

      img {
        max-width: 500px;

        @media @tablets {
          max-width: 250px;
        }
        @media @smartphones {
          max-width: 200px;
        }
      }
    }

    #navbar {
      display: none;
      color: #FFF;

      @media @tablets {
        display: flex;
        align-items: center;
        flex: auto;
        font-size: 2rem;
        
      }
      @media @smartphones {
        display: flex;
        align-items: center;
        flex: auto;
        font-size: 2.5rem;

      }

      span {
        width: 100%;
        display: flex;
        height: 30px;
        text-align: right;
        align-items: center;
        position: relative;

        i {
          z-index: 10000;
          position: absolute;
        }

        i.fa-bars {
          display: block;
          width: 100%;
          cursor: pointer;
          text-align: right;
        }

        i.fa-close {
          display: none;
          width: 100%;
          cursor: pointer;
          text-align: right;
        }

      }
    }

    ul.navigation {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      font-family: 'open-sans-light';

      @media @tablets {
        display: none;
        top: 0;
        right: 0;
        position: absolute;
        background-color: rgba(0,0,0,0.9);
        padding-top: 15%;
      }
      @media @smartphones {
        display: none;
        top: 0;
        right: 0;
        position: absolute;
        background-color: rgba(0,0,0,0.9);
        padding-top: 35%;
      }
      @media @device-smartphones-landscape {
        padding-top: 1.5%;
      }

      li {
        flex: auto;
        width: auto;
        display: flex;
        align-items: center;

        @media @tablets {
          width: 100%;
          text-align: center;
          &:last-child a {
            border-bottom: none;
          }
        }
        @media @smartphones {
          width: 100%;
          text-align: center;
          &:last-child a {
            border-bottom: none;
          }
        }

        &.langswitcher-mobile {
          display: none;
          width: 40%;
          margin: 20px auto 0 auto;

          @media @tablets {
            display: flex;
          }
          @media @smartphones {
            display: flex;
          }
        }

        a {
          color: @white;
          font-size: 16px;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
          display: block;

          @media @tablets {
            width: 80%;
            padding: 15px 0;
            text-align: center;
            border-bottom: 1px solid rgba(255,255,255,0.5);
            margin: 0 auto;
          }
          @media @smartphones {
            width: 80%;
            padding: 10px 0;
            text-align: center;
            border-bottom: 1px solid rgba(255,255,255,0.5);
            margin: 0 auto;
          }

          &:hover {
            color: @grey;
          }
        }
      }
    }
  }
}