/* MODULAR TYPE TEXT */
section.text {
  padding: 200px 0;
  text-align: center;
  color: @white;
  a {
    color: @white;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


/* MODULAR TYPE IMGTEXT */
section.imgtext {
  width: 100%;
  display: flex;
  text-align: center;
  background-color: @light-grey;

  @media @smartphones {
    flex-wrap: wrap;
  }

  color: @black-grey;

  & > div {
    width: 48%;
    flex: auto;
    display: flex;
    padding: 100px 1%;

    @media @smartphones {
      width: 100%;
    }

    &:first-child {
      background-size: cover;
      background-position: center;

      @media @smartphones {
        order: 2 !important;
      }
    }

    &:last-child {
      @media @smartphones {
        order: 1 !important;
      }
    }

    .wrapper {
      color: @text-grey;
      h2 {
        &:after {
          background-color: @text-grey;
        }
      }
      a {
        color: @text-grey;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
/* MODULAR TYPE ICON */
section.icon {
  width: 100%;
  display: flex;
  color: @text-grey;
  text-align: center;
  background-color: @light-grey;

  @media @smartphones {
    flex-wrap: wrap;
    width: 100%;
  }

  & > div {
    width: 48%;
    flex: auto;
    display: flex;
    padding: 100px 1%;

    @media @smartphones {
      width: 100%;
    }
    &:first-child {
      background-size: cover;
      background-position: center;
      order: 2;
    }
    &:last-child {
      order: 1;
    }
    .wrapper {
      color: @text-grey;
      h2 {
        &:after {
          background-color: @text-grey;
        }
      }
      a {
        color: @text-grey;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    ul {
      width: 100%;
      display: flex;
      list-style: none;
      padding-bottom: 50px;

      li {
        width: 33%;
        flex: auto;
        i {
          color: @text-grey;
          font-size: 4rem;
        }
      }
    }
  }
}

/* MODULAR TYPE PARALLAX TXT */
section.parallaxtxt {
  padding: 150px 0;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2rem;
  text-transform: uppercase;
  color: @white;
  text-align: center;
  font-family: 'open-sans-bold';
  text-shadow: 0 0 3px #333;
}

/* MODULAR TYPE CONTACTUS */
section.contactus {
  width: 100%;
  color: @text-grey;
  padding: 100px 0;
  background-color: @light-grey;

  h2 {
    &:after {
      background-color: @text-grey;
    }
  }

  .wrapper {
    display: flex;
    width: 30%;
    position: relative;

    @media @smartphones {
      width: 80%;
      flex-wrap: wrap;
    }

    form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      color: @text-grey;

      div.form-field {
        width: 100%;
        margin-bottom: 10px;

        &.field_name {
          flex: auto;
          width: 45%;

          &:first-child {
            margin-right: 5%;
          }
          &:last-child {
            margin-left: 5%;
          }
        }
        div.form-label {
          display: none;
          label {
            font-size: 0.8rem;
            text-align: left;
          }
        }
        div.form-data {
          #g-recaptcha {
            div {
              margin: 0 auto;
            }
          }
          input, textarea, select {
            width: 96%;
            padding: 15px 2%;
            border-radius: 0;
            border: 1px solid darken(@light-grey, 10%);
          }
          select{
            width: 100%;
          }
        }
      }
      .buttons {
        margin: 0 auto;
        width: 40%;

        .button {
          width: 100%;
          padding: 10px 0;
          background-color: #5f4394;
          border: none;
          color: #fff;
          font-family: 'open-sans-bold';
          font-size: 1rem;
          text-transform: uppercase;
        }
      }
    }
    .notices {
      position: absolute;
      width: 100%;
      bottom: -80px;
      left: 0;
      text-align: center;
      color: @orange !important;
      padding: 0 !important;
      background: none !important;
      border: none !important;
    }
  }
}