#slider {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: @black-grey;

  .text {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;
    align-items: center;
    position: absolute;

    span {
      width: 70%;
      color: #FFF;
      display: block;
      margin: 0 auto;
      text-align: center;

      @media @tablets {
        width: 90%;
      }

      @media @smartphones {
        width: 90%;
      }

      .new-album {
        display: block;
        font-size: 2rem;
        font-family: 'open-sans-extra-bold', sans-serif;
      }
      .title-album {
        display: block;
        font-size: 6rem;
        font-family: 'open-sans-light', sans-serif;

        @media @smartphones {
          font-size: 5rem;
        }
      }
      .description-album {
        display: block;
        font-size: 1.6rem;
      }
    }
  }

  .slide {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
  }
}