{% embed 'partials/base.html.twig' %}

    {% block content %}

		{{ grav.languages.supported }}


        {{ page.content }}

		{% set children = page.collection.published %}

		<section class="list-posts">
			<h2>{{ t("TITLE_ARTICLE") }}</h2>
            {% for child in children %}
                {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
            {% endfor %}
		</section>

    {% endblock %}

{% endembed %}


