/* IMPORT NEW FONT*/
@font-face {
  font-family: 'open-sans-light';
  src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'open-sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'open-sans-semi-bold';
  src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: 'open-sans-bold';
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'open-sans-extra-bold';
  src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf');
}
/*
    
    *** MEDIA QUERIES LESS *** 
    
    Path: theme/less/utility/media-queries-responsive.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/* COLOR */
/* FONT SIZE */
html,
body {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: 'open-sans', sans-serif;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  html,
  body {
    font-size: 12px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  html,
  body {
    font-size: 10px;
  }
}
html .wrapper,
body .wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
html #content,
body #content {
  width: 100%;
  height: 100%;
}
html h2,
body h2 {
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
}
html h2:after,
body h2:after {
  content: '';
  display: block;
  height: 0.3rem;
  width: 4rem;
  margin: 2rem auto 0 auto;
  background-color: #ffffff;
}
html p,
body p {
  margin-bottom: 10px;
}
header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  padding: 20px 0;
  z-index: 100;
  background-color: rgba(41, 40, 40, 0.3);
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  header {
    padding: 0;
    background-color: rgba(41, 40, 40, 0);
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  header {
    padding: 0;
    background-color: rgba(41, 40, 40, 0);
  }
}
header.scrolled-header {
  background-color: rgba(41, 40, 40, 0.9);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
header.scrolled-header .wrapper a.logo,
header.scrolled-header .wrapper ul.langswitcher {
  display: none;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  header.scrolled-header {
    padding: 0;
  }
  header.scrolled-header .wrapper a.logo {
    display: block;
    width: 60%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  header.scrolled-header {
    padding: 0;
  }
  header.scrolled-header .wrapper a.logo {
    display: block;
    width: 60%;
  }
}
header .wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  header .wrapper {
    display: flex;
    position: static;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  header .wrapper {
    display: flex;
    position: static;
  }
}
header .wrapper ul.langswitcher {
  top: 15%;
  right: 7%;
  position: absolute;
}
header .wrapper ul.langswitcher li a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'open-sans-light', sans-serif;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  header .wrapper ul.langswitcher {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  header .wrapper ul.langswitcher {
    display: none;
  }
}
header .wrapper a.logo {
  width: 80%;
  display: block;
  margin: 10px auto;
  text-align: center;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  header .wrapper a.logo {
    flex: auto;
    text-align: left;
    margin: 15px auto 10px auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  header .wrapper a.logo {
    flex: auto;
    text-align: left;
    margin: 15px auto 10px auto;
  }
}
header .wrapper a.logo img {
  max-width: 500px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  header .wrapper a.logo img {
    max-width: 250px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  header .wrapper a.logo img {
    max-width: 200px;
  }
}
header .wrapper #navbar {
  display: none;
  color: #FFF;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  header .wrapper #navbar {
    display: flex;
    align-items: center;
    flex: auto;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  header .wrapper #navbar {
    display: flex;
    align-items: center;
    flex: auto;
    font-size: 2.5rem;
  }
}
header .wrapper #navbar span {
  width: 100%;
  display: flex;
  height: 30px;
  text-align: right;
  align-items: center;
  position: relative;
}
header .wrapper #navbar span i {
  z-index: 10000;
  position: absolute;
}
header .wrapper #navbar span i.fa-bars {
  display: block;
  width: 100%;
  cursor: pointer;
  text-align: right;
}
header .wrapper #navbar span i.fa-close {
  display: none;
  width: 100%;
  cursor: pointer;
  text-align: right;
}
header .wrapper ul.navigation {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-family: 'open-sans-light';
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  header .wrapper ul.navigation {
    display: none;
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 15%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  header .wrapper ul.navigation {
    display: none;
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 35%;
  }
}
@media only screen and (min-device-height: 320px) and (max-device-height: 736px) and (orientation : landscape) {
  header .wrapper ul.navigation {
    padding-top: 1.5%;
  }
}
header .wrapper ul.navigation li {
  flex: auto;
  width: auto;
  display: flex;
  align-items: center;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  header .wrapper ul.navigation li {
    width: 100%;
    text-align: center;
  }
  header .wrapper ul.navigation li:last-child a {
    border-bottom: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  header .wrapper ul.navigation li {
    width: 100%;
    text-align: center;
  }
  header .wrapper ul.navigation li:last-child a {
    border-bottom: none;
  }
}
header .wrapper ul.navigation li.langswitcher-mobile {
  display: none;
  width: 40%;
  margin: 20px auto 0 auto;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  header .wrapper ul.navigation li.langswitcher-mobile {
    display: flex;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  header .wrapper ul.navigation li.langswitcher-mobile {
    display: flex;
  }
}
header .wrapper ul.navigation li a {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  header .wrapper ul.navigation li a {
    width: 80%;
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0 auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  header .wrapper ul.navigation li a {
    width: 80%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0 auto;
  }
}
header .wrapper ul.navigation li a:hover {
  color: #7a7a7a;
}
/* MODULAR TYPE TEXT */
section.text {
  padding: 200px 0;
  text-align: center;
  color: #ffffff;
}
section.text a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
section.text a:hover {
  text-decoration: underline;
}
/* MODULAR TYPE IMGTEXT */
section.imgtext {
  width: 100%;
  display: flex;
  text-align: center;
  background-color: #f3f5f8;
  color: #242830;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  section.imgtext {
    flex-wrap: wrap;
  }
}
section.imgtext > div {
  width: 48%;
  flex: auto;
  display: flex;
  padding: 100px 1%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  section.imgtext > div {
    width: 100%;
  }
}
section.imgtext > div:first-child {
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  section.imgtext > div:first-child {
    order: 2 !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  section.imgtext > div:last-child {
    order: 1 !important;
  }
}
section.imgtext > div .wrapper {
  color: #777777;
}
section.imgtext > div .wrapper h2:after {
  background-color: #777777;
}
section.imgtext > div .wrapper a {
  color: #777777;
  font-weight: bold;
  text-decoration: none;
}
section.imgtext > div .wrapper a:hover {
  text-decoration: underline;
}
/* MODULAR TYPE ICON */
section.icon {
  width: 100%;
  display: flex;
  color: #777777;
  text-align: center;
  background-color: #f3f5f8;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  section.icon {
    flex-wrap: wrap;
    width: 100%;
  }
}
section.icon > div {
  width: 48%;
  flex: auto;
  display: flex;
  padding: 100px 1%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  section.icon > div {
    width: 100%;
  }
}
section.icon > div:first-child {
  background-size: cover;
  background-position: center;
  order: 2;
}
section.icon > div:last-child {
  order: 1;
}
section.icon > div .wrapper {
  color: #777777;
}
section.icon > div .wrapper h2:after {
  background-color: #777777;
}
section.icon > div .wrapper a {
  color: #777777;
  font-weight: bold;
  text-decoration: none;
}
section.icon > div .wrapper a:hover {
  text-decoration: underline;
}
section.icon > div ul {
  width: 100%;
  display: flex;
  list-style: none;
  padding-bottom: 50px;
}
section.icon > div ul li {
  width: 33%;
  flex: auto;
}
section.icon > div ul li i {
  color: #777777;
  font-size: 4rem;
}
/* MODULAR TYPE PARALLAX TXT */
section.parallaxtxt {
  padding: 150px 0;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-family: 'open-sans-bold';
  text-shadow: 0 0 3px #333;
}
/* MODULAR TYPE CONTACTUS */
section.contactus {
  width: 100%;
  color: #777777;
  padding: 100px 0;
  background-color: #f3f5f8;
}
section.contactus h2:after {
  background-color: #777777;
}
section.contactus .wrapper {
  display: flex;
  width: 30%;
  position: relative;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  section.contactus .wrapper {
    width: 80%;
    flex-wrap: wrap;
  }
}
section.contactus .wrapper form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #777777;
}
section.contactus .wrapper form div.form-field {
  width: 100%;
  margin-bottom: 10px;
}
section.contactus .wrapper form div.form-field.field_name {
  flex: auto;
  width: 45%;
}
section.contactus .wrapper form div.form-field.field_name:first-child {
  margin-right: 5%;
}
section.contactus .wrapper form div.form-field.field_name:last-child {
  margin-left: 5%;
}
section.contactus .wrapper form div.form-field div.form-label {
  display: none;
}
section.contactus .wrapper form div.form-field div.form-label label {
  font-size: 0.8rem;
  text-align: left;
}
section.contactus .wrapper form div.form-field div.form-data #g-recaptcha div {
  margin: 0 auto;
}
section.contactus .wrapper form div.form-field div.form-data input,
section.contactus .wrapper form div.form-field div.form-data textarea,
section.contactus .wrapper form div.form-field div.form-data select {
  width: 96%;
  padding: 15px 2%;
  border-radius: 0;
  border: 1px solid #d3dae5;
}
section.contactus .wrapper form div.form-field div.form-data select {
  width: 100%;
}
section.contactus .wrapper form .buttons {
  margin: 0 auto;
  width: 40%;
}
section.contactus .wrapper form .buttons .button {
  width: 100%;
  padding: 10px 0;
  background-color: #5f4394;
  border: none;
  color: #fff;
  font-family: 'open-sans-bold';
  font-size: 1rem;
  text-transform: uppercase;
}
section.contactus .wrapper .notices {
  position: absolute;
  width: 100%;
  bottom: -80px;
  left: 0;
  text-align: center;
  color: #c2734b !important;
  padding: 0 !important;
  background: none !important;
  border: none !important;
}
#slider {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #242830;
}
#slider .text {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  align-items: center;
  position: absolute;
}
#slider .text span {
  width: 70%;
  color: #FFF;
  display: block;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  #slider .text span {
    width: 90%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #slider .text span {
    width: 90%;
  }
}
#slider .text span .new-album {
  display: block;
  font-size: 2rem;
  font-family: 'open-sans-extra-bold', sans-serif;
}
#slider .text span .title-album {
  display: block;
  font-size: 6rem;
  font-family: 'open-sans-light', sans-serif;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #slider .text span .title-album {
    font-size: 5rem;
  }
}
#slider .text span .description-album {
  display: block;
  font-size: 1.6rem;
}
#slider .slide {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
}
footer {
  width: 100%;
  background-color: #292828;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  position: relative;
  font-size: 0.8rem;
}
