{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {% do assets.add('theme://css/style.css') %}
        {% endblock %}
        {{ assets.css() }}
        {% block javascripts_header %}
            {% do assets.addJs('jquery', 101) %}
            {% do assets.addJs('theme://js/modernizr.custom.71422.js', 100) %}
            {% do assets.addJs('theme://js/slidebars.min.js') %}
            {% do assets.addJs('theme://js/TweenMax.min.js') %}
            {% do assets.addJs('theme://js/navigation.js') %}
        {% endblock %}
        {{ assets.js() }}
        <script src="https://use.fontawesome.com/1926d27fff.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-10512253-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-10512253-1');
        </script>

    </head>
    <body>
    <header id="header">
        <div class="wrapper">
            {% block logo %}{% endblock %}
            {% block navigation %}{% endblock %}
        </div>
    </header>
    <section id="content">
        {% block content %}{% endblock %}
    </section>
    {% block javascripts_footer %}
    {% endblock %}
    {{ assets.js() }}
    </body>
</html>