{% if page.header.lang == grav.language.getLanguage %}
    <!--<article>
        <a href="{{ page.url }}">
            <p>{{ page.title }}</p>
            <p>{{ page.header.short }}</p>
            <p>{{ page.url }}</p>
            <a href="{{ page.url }}" title="">{{ t("TXT_BTN_ITEM") }}</a>
        </a>
    </article>
    <hr>-->
    <p>{{ page.title }}</p>
{% endif %}